// zIndex
$z-1:   100;
$z-2:   200;
$z-3:   300;
$z-4:   400;
$z-5:   500;
$z-6:   600;
$z-7:   700;
$z-8:   800;
$z-9:   900;
$z-10: 1000;
// Font Weight
$fw1:   100;
$fw2:   200;
$fw3:   300;
$fw4:   400;
$fw5:   500;
$fw6:   600;
$fw7:   700;
$fw8:   800;
$fw9:   900;
// Flex Weight
$flx1:  1;
$flx2:   2;
$flx3:   3;
$flx4:   4;
$flx5:   5;
$flx6:   6;
$flx7:   7;
$flx8:   8;
$flx9:   9;
